---
bg: "https://cdn.staticaly.com/gh/cheungwoonming/picx_img@main/jpb_BG_img/bg_timeline.jpg"
layout: page
permalink: /timeline/
title: "时间轴"
crawlertitle: "流逝、九千轮回"
summary: "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp目光全无你，余光全是你<br/>不经意说出关于你的话题，无人察觉我的刻意<br/>"
active: timeline
---

{% for post in site.posts %}
    {% unless post.next %}
      <h1>{{ post.date | date: '%Y年' }}</h1>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h1>{{ post.date | date: '%Y年' }}</h1>
      {% endif %}
    {% endunless %}

  <ul class="year">
    <li><a href="{{ post.url }}">{{ post.date | date:"%Y年%m月%d日：" }}{{ post.title }}</a></li>
  </ul>

{% endfor %}
