---
bg: "tag.jpg"
layout: page
permalink: /timeline/
title: "Timeline"
crawlertitle: "All articles order by time"
summary: "List of blog order by time"
active: timeline
---

{% for post in site.posts %}
    {% unless post.next %}
      <h1 class="category-key">{{ post.date | date: '%Y年' }}</h1>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h1 class="category-key">{{ post.date | date: '%Y年' }}</h1>
      {% endif %}
    {% endunless %}

  <ul class="year">
    <li>{{ post.date | date:"%Y年%m月%d日：" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  </ul>

{% endfor %}
