
<footer class="blog-footer content-wrapper">
  {% include svg-icons.html %}
<!--  放到svg-icons.html里面去了-->
<!--  <p>&copy; <span class="full-year"></span> {{ site.title }} </p>-->
</footer>

<!--<div class="wrapper-footer-mobile">-->

<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

{% if site.animation.Snowflake %}
  <canvas id="Snow" width="542" height="722"></canvas>
  <script src="{{ site.baseurl }}/assets/js/mv_snowflake.js"></script>
{% endif %}

<!--点击爱心特效-->
{% if site.animation.Click_love %}
  <script src="{{ site.baseurl }}/assets/js/click_love.js"></script>
{% endif %}

<!--点击emoji特效-->
{% if site.animation.Click_emoji %}
  <script src="{{ site.baseurl }}/assets/js/click_emoji.js"></script>
{% endif %}

<!--点击烟花特效-->
{% if site.animation.Click_fireworks %}
  <script src="{{ site.baseurl }}/assets/js/click_fireworks.js"></script>
{% endif %}

<!--看板-->
{% if site.animation.Signboard %}
  <script src="{{ site.baseurl }}/assets/js/L2Dwidget.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/L2Dwidget.0.min.js"></script>
  <script>
      L2Dwidget.init({
          "model": { jsonPath: "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json", "scale": 1 },
          "display": { "position": "right", "width": 100, "height": 200, "hOffset": 0, "vOffset": -20 },
          "mobile": { "show": true, "scale": 0.5 },
          "react": { "opacityDefault": 0.7, "opacityOnHover": 0.2 }
      });
  </script>
{% endif %}


<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
var jiathis_config={
    siteNum:15,
    sm:"copy,qzone,tsina,weixin,tqq,tsohu,renren,cqq,tieba,douban,kaixin001,t163,yixin,51,copy",
    summary:"",
    boldNum:6,
    showClose:true,
    shortUrl:false,
    hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?btn=r.gif&move=0" charset="utf-8"></script>
<!-- JiaThis Button END -->

分割

<link rel="stylesheet" href="http://saw.caifutang.com/jquery.hooray/jquery.HooRay/jquery.HooRay.css" />
<script src="http://saw.caifutang.com/jquery.hooray/jquery.HooRay/jquery.HooRay.js"></script>
<p class="hoorayshare">
<a class="hr-share-tsina"></a>
<a class="hr-share-tqq"></a>
<a class="hr-share-tsohu"></a>
<a class="hr-share-twangyi"></a>
<a class="hr-share-qzone"></a>
<a class="hr-share-renren"></a>
<a class="hr-share-baidu"></a>
<a class="hr-share-taobao"></a>
<a class="hr-share-xiaoyou"></a>
<a class="hr-share-hi"></a>
<a class="hr-share-feixin"></a>
<a class="hr-share-tianya"></a>
<a class="hr-share-douban"></a>
<a class="hr-share-mop"></a>
<a class="hr-share-more"></a>
</p>
<script type="text/javascript">
$('.hoorayshare').HRshare();
</script>
