---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>
    <div id="shadow"></div>

      {% include header.html %}
      {% include aside.html %}

    <main class="content-wrapper">
      {{ content }}
    </main>

    {% include footer.html %}

<!--    爱心特效-->
<!--    <script src="{{ site.baseurl }}/assets/js/click_fireworks.js"></script>-->

    <!--烟花特效-->
    <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas>
<!--    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/anime.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/click_fireworks.js"></script>

  </body>
</html>
