---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>
    <div id="shadow"></div>

      {% include header.html %}
      {% include aside.html %}

    <main class="content-wrapper">
      {{ content }}
    </main>

    {% include footer.html %}

<!--    点击爱心特效-->
    <script src="{{ site.baseurl }}/assets/js/click_love.js"></script>
<!--    点击烟花特效-->
    <script src="{{ site.baseurl }}/assets/js/click_fire.js"></script>

<!--    看板娘-->
<!--    <script src="{{ site.baseurl }}/assets/js/L2Dwidget.min.js"></script>-->
<!--    <script src="{{ site.baseurl }}/assets/js/L2Dwidget.0.min.js"></script>-->
<!--    <script>-->
<!--        L2Dwidget.init({-->
<!--            "model": { jsonPath: "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json", "scale": 1 },-->
<!--            "display": { "position": "right", "width": 100, "height": 200, "hOffset": 0, "vOffset": -20 },-->
<!--            "mobile": { "show": true, "scale": 0.5 },-->
<!--            "react": { "opacityDefault": 0.7, "opacityOnHover": 0.2 }-->
<!--        });-->
<!--    </script>-->

<img src="https://images.cnblogs.com/cnblogs_com/qq1445496485/2009824/o_210806065633QQ%E5%9B%BE%E7%89%8720210506103856.jpg" height="100" width="100">
<link rel="stylesheet" type="text/css" href="https://blog-static.cnblogs.com/files/clwydjgs/waifu.css"/>
  <link rel="stylesheet" type="text/css" href="https://blog-static.cnblogs.com/files/clwydjgs/waifu.css"/>
  <link rel="stylesheet" type="text/css" href="https://files.cnblogs.com/files/yjlblog/flat-ui.min.css"/>
      <div class="waifu" id="waifu">
          <div class="waifu-tips" style="opacity: 1;"></div>
          <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
          <div class="waifu-tool">
              <span class="fui-home"></span>
              <span class="fui-chat"></span>
             <span class="fui-eye"></span>
             <span class="fui-user"></span>
             <span class="fui-photo"></span>
             <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
         </div>
     </div>
     <script src="https://blog-static.cnblogs.com/files/clwydjgs/live2d.js"></script>
     <script src="https://blog-static.cnblogs.com/files/clwydjgs/waifu-tips.js"></script>
     <script type="text/javascript">initModel()</script>

  </body>
</html>
